**/*

!/docker/**/*
!/new_modeling_toolkit/**/*

!.dvc/config
!.dvc/.gitignore
!.gitignore

!LICENSE
!README.md

!environment.yml
!environment.*.yml
!pyproject.toml
!requirements.txt

**/__pycache__
**/.DS_Store
